@import '../../style/tools';

.navigation {
  align-items: center;
  background: #eee;
  display: flex;
  padding: 5px 0;
}

.logoLink {
  background: $color-dark-hero;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  margin: 0 10px;
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: background;

  &:hover {
    background: darken($color-dark-hero, 50%);
  }
}

.logoSvg {
  display: block;
  height: 30px;
  transition-duration: 250ms;
  transition-property: fill;
  width: 30px;

  &:hover {
    fill: $color-white;
  }
}

.navigationMenu {
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigationMenuItem {
  display: inline-block;
  margin: 0 5px;
}

.navigationLink {
  background: #ddd;
  display: block;
  padding: 5px 10px;

  &.isActive {
    background: #fff;
  }
}

.languageMenu {
  flex: 0 0 auto;
  padding: 0 10px;
}
