@import 'src/style/tools';

body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  &::before {
    content: $font-family-base;
  }
}

code {
  font-family: $font-family-code;
}
